.menuButton {
  display: none;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  color: hsl(var(--foreground));
  cursor: pointer;
}


@media (min-width: 1020px) {
  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}